/* --------------------------

	The actual game styles

---------------------------*/

.game {
	background: #3D9970;
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	max-height: 0%;
	overflow: hidden;
	transition: all 1s ease;
	width: calc(100% - 50px);

	&.active {
		max-height: 100%;
		min-height: 480px;
	}

	.field {
		background: black;
		height: 70%;
		overflow: hidden;

		button {
			position: absolute;
			bottom: 10px; right: 10px;
		}

		aside { 
			background: tan url(../images/bg/bg_sand.png);
			height: 100%;
			overflow: hidden;
			padding-top: 50px;
			position: relative;
			transition: background 0.3s;
			width: 50%; 

			&:after {
				background: #3D9970;
				border-radius: 4px;
				color: white;
				content: '';
				display: inline-block;
				font-size: 12px;
				line-height: 30px;
				padding: 0 5px;
				position: absolute;
				opacity: 0;
				text-align: center;
				transition: opacity 0.3s;
			}

			li:first-child:nth-last-child(5),
			li:last-child:nth-child(5),
			li:first-child:nth-last-child(6),
			li:last-child:nth-child(6) { border-color: transparentize(darken(#D2B48C,20%), 0.6); }
		}

		.player:not(.myturn), .player.myturn + .opponent {
			background: transparentize(tan,0.25);

			.card img, .unit img { opacity: 0.5; }
		}

		.player.myturn, .player:not(.myturn) + .opponent {
			&:after {
				animation: statPulse 1s alternate infinite;
				content: 'Your Turn';
				opacity: 0.8;
				top: 50px; right: 20px;
			}
		}
			.player:not(.myturn) + .opponent:after {
				background: #666;
				content: "Their Turn";
				right: auto; left: 20px;
			}

		aside:first-child {
			border-right: 2px solid #222;
			float: left;

			li:nth-child(3), li:nth-child(4):nth-last-child(3) { transform: translateX(80px) scale(0.9); }
			li:first-child, li:last-child { transform: translateX(-50px) scale(0.9); }
		}

		aside:last-child {
			border-left: 2px solid #222;
			float: right;

			li:nth-child(3), li:nth-child(4):nth-last-child(3) { transform: translateX(-80px) scale(0.9); }
			li:first-child, li:last-child { transform: translateX(50px) scale(0.9); }
		}

		h1 {
			background: rgba(0,0,0,0.1);
			line-height: 40px;
			position: absolute;
			top: 0; left: 0;
			text-align: center;
			width: 100%;
			z-index: 99;

			&.addSup {
				&:before {
					animation: supplyAdd 0.8s ease forwards;
					color: #F87702;
					content: url(../images/cards/supply.png);
					display: inline-block;
					font-size: 40px;
					height: auto;
					position: absolute;
					top: 0; left: 0;
				}
			}

			.atk { 
				background: #E44141; border-radius: 15px; 
				color: white; line-height: 30px; width: 30px; }
			.def { 
				background: #4178E4; border-radius: 15px; 
				color: white; line-height: 30px; width: 30px; }

			.sup {
				background: #EED84F;
				height: 30px;
				font-size: 18px;
				font-weight: bold;
				line-height: 30px;
				position: absolute;;
				top: 10px; right: 10px;
				text-align: center;
				width: 50px;

				&:before, &:after {
					border-style: solid;
					content: '';
					height: 0;
					position: absolute;
					left: 0;
					width: 0;
				}	

				&:before {
					border-width: 0 25px 10px 25px;
					border-color: transparent transparent #EED84F transparent;
					top: -10px;
				}

				&:after {
					border-width: 10px 25px 0 25px;
					border-color: #EED84F transparent transparent transparent;
					bottom: -10px;
				}
			}

			.outpost {
				background: #2ECC40; border-radius: 3px; 
				color: #333; line-height: 40px; 
				height: 40px; width: 40px; 
				position: absolute;
				top: 10px; right: 10px;

				&:empty { opacity: 0; }
			}
		}

			.player .sup { left: 10px; }
			.opponent .outpost { left: 10px; }

			aside.attacker h1 .atk, 
			aside:not(.attacker) h1 .def {
				animation: statPulse 1s alternate infinite;
				-webkit-animation: none;
				border-radius: 0;
				margin: 0 5px;
				position: relative;
				transform: scale(1.4);

				&:after {
					border-style: solid;
					content: '';
					height: 0;
					position: absolute;
					left: 0;
					width: 0;
					border-width: 5px 15px 0 15px;
					border-color: #E44141 transparent transparent transparent;
					bottom: -5px;
				}
			}

			aside:not(.attacker) h1 .def:after {
				border-color: #4178E4 transparent transparent transparent;
			}

		.commander {
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: contain;
			height: 350px;
			pointer-events: none;
			position: absolute;
			bottom: 0;
			width: 220px;
			z-index: 1;
		}
			.player .commander {
				animation: slideInLeft 1s ease forwards;
				left: 0;
			}

			.opponent .commander {
				animation: slideInRight 1s ease forwards;
				right: 0;
				transform: rotateY(180deg);
			}
	}

	&:not(.tut) .hand, &.tut.showDeck .hand {
		padding-left: 160px;

		&:before {
			background: url(../images/cards/back.png) no-repeat;
			background-size: cover;
			box-shadow: 
				0 3px 0 rgba(0,0,0,0.2), 
				0 6px 0 rgba(0,0,0,0.2), 
				0 9px 0 rgba(0,0,0,0.2),
				0 12px 3px rgba(0,0,0,0.2);
			content: '';
			display: block;
			height: 190px;
			position: absolute;
			transition: all 0.3s;
			top: 5px; left: 5px;
			width: 140px;
		}

		&:after {
			background: #C5EBA3;
			border-radius: 10px;
			color: black;
			content: attr(data-count);
			font-size: 20px;
			line-height: 30px;
			padding: 0 10px; 
			text-shadow: none;
			position: absolute;
			top: 15px; left: 115px;
		}

		&.low.er.est:before {
			box-shadow: 0 1px 3px rgba(0,0,0,0.2);
			transform: translateY(9px);
		}

		&.low.er:before {
			box-shadow: 
				0 3px 0 rgba(0,0,0,0.2), 
				0 6px 3px rgba(0,0,0,0.2);
			transform: translateY(6px);
		}

		&.low:before {
			box-shadow: 
				0 3px 0 rgba(0,0,0,0.2), 
				0 6px 0 rgba(0,0,0,0.2), 
				0 9px 3px rgba(0,0,0,0.2);
			transform: translateY(3px);
		}
	}

	.formation {
		//align-items: center;
		align-content: stretch;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		position: relative;
		margin: 0 auto;
		min-width: 180px;
		width: 30%;
		z-index: 1;
	}

	li {
		border: 2px solid darken(#D2B48C,20%);
		border-radius: 50%;
		min-height: 16.5%;
		perspective: 300px;
		position: relative;
		transform: scale(0.9);
		transition: all 0.3s;

		&:empty { background: white; opacity: 0.1; }

		&:hover { 
			border-color: transparent;
			z-index: 1; 

			&:not(.active) .unit {
				transition: all 0.3s;
				transform: scale(1.2) translateX(-60%) rotateY(0deg);
			}
		}

		&.active { 
			animation: borderPulse 0.5s infinite alternate;
			background: transparentize(green,0.6);
			border-color: green; 
			cursor: pointer; 
			z-index: 1;

			.unit { 
				box-shadow: 0 0 15px green;
				opacity: 0.3; 
				pointer-events: none; 
			}
		}

		&.combo { 
			&.atk { 
				background: transparentize(#E44141,0.7);
				border-color: darken(#E44141,5%); 
				box-shadow: 0 0 6px red;
			}

			&.def { 
				background: transparentize(#4178E4, 0.7);
				border-color: darken(#4178E4,5%);
				box-shadow: 0 0 6px blue; 
			}

			&.sup {
				background: transparentize(#EED84F, 0.5);
				border-color: darken(#CAB428,5%);
				box-shadow: 0 0 6px #EED84F;
			}

			&.atk.def { box-shadow: 0 0 6px purple;  }

			&.active { box-shadow: 0 0 6px green; opacity: 1; }

			&:before {
				content: url( attr(data-img) );
			}

			span {
				opacity: 0;
				max-width: 100px;
				pointer-events: none;
				position: absolute;
				top: 0; right: -100px;
				transition: all 0.5s 0.5s;
				transform: translateY(-50%);
				z-index: 10;

				img { width: 100%; }
			}

			&:hover span {
				opacity: 1;
				pointer-events: all;
				transform: scale(1.3) translateY(-50%);

				&:hover { max-width: 200px; }
			}
		}

		button {
			background: green;
			border-radius: 20px;
			color: white;
			cursor: pointer;
			font-size: 36px;
			height: 40px;
			line-height: 35px;
			opacity: 1;
			position: absolute;
			left: 5%;
			text-align: center;
			transition: all 0.3s;
			width: 40px;
			z-index: 5;

			&[disabled] { background: #999; }

			&:before { content: '+'; }

			&.up:before { content: '↑'; }
			&.down:before { content: '↓'; }

			&.up, &.down {
				left: -10%; 
				&:before { font-size: 18px; }
			}

			&.prev, &.down { top: 50px; }
			&.next, &.up { top: 0px; }

			&:hover { opacity: 0.8; }
		}
	}

		.opponent li.combo span { left: -100px; }

		.extra {
			height: 10%;
			position: absolute;
			top: 25%; left: 80%;
			width: 150px;

			li { height: 100%; width: 100%; }
			.unit { height: 180px; }
		}

		.opponent .extra { left: 0%; }

	.hand {
		height: 30%;
		position: relative;
		z-index: 2;

		&.disable .card, &.noUnit .card[data-isunit] { opacity: 0.5;}

		button {
			background: transparentize(green,0.9);
			position: absolute;
			top: -60px; left: 10px;

			&.shuf { left: calc(50% - 110px); }
			&.end { 
				background: transparentize(red,0.9);
				border-color: darkred;
				left: calc(50% + 10px); 
				
				&:not([disabled=true]):hover { background: #E44141; border-color: darkred; color: white; }
			}
		}

		.card {
			transition: all 0.3s;
			user-select: none;
			vertical-align: middle;

			&.choose { animation: borderPulse 0.5s alternate infinite; }
			&.active { box-shadow: 0 0 0 2px white; opacity: 0.5; }
			&.disable { opacity: 0.5; pointer-events: none; }
			&:hover { transform: scale(1.2) translateY(12px); z-index: 1; }

			&.new { 
				opacity: 0;
				transform: translateY(120%); 
			}

			&.toDiscard {
				opacity: 0;
				transform: scale(0.9) translateY(-100%);
			}

			img { pointer-events: none; }
		}

		.cardContainer {
			height: 100%;
			line-height: 200px;
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
		}
	}

	
	.unit {
		background: #333;
		border-radius: 0;
		height: 200px;
		position: absolute;
		top: -120px; left: 50%;
		transition: all 1.3s;
		max-width: 150px;
		min-width: 140px;

		img { height: 100%; width: auto; }

		&.active { 
			animation: borderPulse 0.5s infinite alternate;
			border: 2px solid limegreen; 
			box-shadow: 0 0 2px limegreen; 
			cursor: pointer;

			img { pointer-events: none; }
		}

		&.toDeck {
			opacity: 0;
			transform: scale(0.5) translate(-50vw,90vh) rotateY(0) !important;
		}
	}
		.player .unit { 
			//animation: playerUnit 1s ease forwards;
			transform: scale(0.8) translateX(-60%) rotateY(15deg); 
		}
		.opponent .unit { transform: scale(0.8) translateX(-60%) rotateY(-15deg); }
}

@keyframes playerUnit {
	from { opacity: 0; transform: scale(1) translateX(-150%) rotateY(0deg)}
	to { opacity: 1; transform: scale(0.8) translateX(-60%) rotateY(15deg) }
}

@keyframes borderPulse {
	from { border: 2px solid limegreen; 
			box-shadow: 0 0 2px limegreen; }
	to { border: 2px solid white; 
			box-shadow: 0 0 2px white; }
}

@keyframes statPulse {
	from { transform: scale(1.3); }
	to { transform: scale(1.5); }
}

@keyframes slideInLeft {
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}

@keyframes slideInRight {
	from { transform: translateX(100%) rotateY(180deg); }
	to { transform: translateX(0) rotateY(180deg); }
}

@keyframes supplyAdd {
	0% { opacity: 0; transform: scale(0.3) translate(-90%,30%); }
	15%, 80% { opacity: 1; }
	100% { opacity: 0; transform: scale(0.3) translate(-90%,-100%); }
}