/* --------------------------

	The actual game styles

---------------------------*/

.game {
	background: green;
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	max-height: 0%;
	overflow: hidden;
	transition: all 1s ease;
	width: 100%;

	&.active {
		max-height: 100%;
		min-height: 480px;
	}

	.field {
		background: white;
		height: 70%;
	}
}