body {
	background: #92CE9A url(../images/bg/bg_main.jpg);
	background-size: cover; 
	font-family: Calibri, Tahoma, sans-serif;
	min-width: 750px; 
	overflow: auto;
}

a { color: darkgreen; }

.home {
	text-align: center;

	.row button { min-width: 120px; }
}

.logo { 
	position: absolute; 
	top: 0px; left: 20px;
	transform: scale(0.9); 
	z-index: 0;
}

.row {
	display: flex;
	justify-content: space-around;
	padding: 5px 0;
	position: absolute;
	top: 10px; right: 0;
	width: 70%;
	z-index: 1;

	> button { flex-grow: 1; margin: 0 5px; }
}

#tlkio {
	background: white;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.3);
	height: 82%;
	position: absolute;
	bottom: 5%; right: 0;
	width: 35%;
}

button {
	background: transparentize(#3D9970,0.3);
	border: 1px solid darkgreen;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	height: 50px;
	padding: 0 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	transition: all 0.3s;

	&:not(:disabled):hover { background: rgba(0,0,0,0.3); color: white; }
	&[disabled] { background: rgba(120,120,120,0.3); border-color: #666; color: #666; }
}

footer {
	font-size: 12px;
	position: absolute;
	bottom: 20px; left: 0;
	width: 100%;
}